{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <link rel="stylesheet" href="{% static '/recipes/recipes-htmx.css' %}">
    <title>Base</title>
</head>
<body>
    <h1>Hello world!</h1>

    {% static "recipes/recipes-htmx.css"%}

    {% include 'search/search-form.html'%}

    {% block content %}
    <h3>This will be replaced</h3>
    {% endblock content %}

    <script>
        document.body.addEventListener("htmx:configRequest", (event)=>{
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}'
        })
    </script>
</body>
</html>
